﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Frontpage.aspx.cs" Inherits="Frontpage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <h3 style="text-align: left">Velkommen til Haislund &amp; Swensson Sommerhusudlejning</h3>
    
    </div>
        <span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans; font-size: 11px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 14px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum accumsan elit id mattis. Donec metus tellus, laoreet quis quam at, pretium dapibus elit.
        <br />
        Morbi a arcu mattis, varius eros a, tincidunt lectus. Mauris fringilla porttitor varius. Duis aliquam nisi nec nibh ornare tempus.
        <br />
        Fusce eget elit nulla. In non lorem efficitur turpis aliquet ullamcorper. Nulla nisl purus, egestas ut efficitur vitae, fermentum a diam.</span><br />
        <asp:Image ID="Image1" runat="server" ImageUrl="~/images/Summerhouse.jpg" style="text-align: left" />
        <br />
        <br />
        <asp:LinkButton ID="Lbtn_Ledig" runat="server" style="z-index: 1; left: 10px;  top: 480px; position: absolute" OnClick="Lbtn_Ledig_Click">Ledige Uger</asp:LinkButton>
        <asp:LinkButton ID="Lbtn_reservation" runat="server" style="z-index: 1; left: 300px; top: 480px; position: absolute; right: 436px;" OnClick="Lbtn_reservation_Click">Reservation</asp:LinkButton>
        <asp:LinkButton ID="Lbtn_alleReservationer" runat="server" style="z-index: 1; left: 600px; top: 480px; position: absolute; " OnClick="Lbtn_alleReservationer_Click">Alle Reservationer</asp:LinkButton>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </form>
</body>
</html>
